extends layout

block content
  h1= title
  p Bookselling is the commercial trading of books which is the retail and distribution end of the publishing process. People who engage in bookselling are called booksellers, bookwomen, or bookmen. The founding of libraries in 300 BC stimulated the energies of the Athenian booksellers. 
  p
    img(src='./images/image1.jpg')
